{# gallery.twig #}
{% extends 'website_theme.twig' %}
{% block content %}
<main class="flex-shrink-0">
    <div class="content">
        <div class="container py-4 px-3 mx-auto">
            <h1>Over ons</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4" style = "background-color: transparent; ">
                    {# <img src="{{ record.image1 }}" class="card-img-top" alt="{{ record.title }}"> #}
                    <div class="card-body">
                        <h2 class="card-title">{{ record.title }}</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ record.content|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main
{% endblock %}